*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

/* mengatur padding dan margin keseluruhan web */


/* mengatur tata letak dan ukuran menu pada header  */
header { 
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: xx-large;
    color:rgb(231, 225, 225) ; 
/* Mengatur warna logo */
}
/* Mengatur Logo bagian span */
.logo span {
    color:rgb(78, 78, 143) ;
}

/* p2 mengatur setiap kelas */

header{ background-color: rgb(12, 49, 82);padding: 20px;text-align: center;}

.navigation {
    margin-left: 30px;
}

.navigation a {
    font-size: medium;
    /* Mengatur ukuran huruf navigasi atau menu */
    color: rgb(68, 155, 243);
    /* Mengatur warna menu */
    margin-right: 30px;
    /* mengatur jarak antar menu (home, portfolio,dll */
    text-decoration: 0;
    /* Menghilangkan underline pada menu */
    font-weight: 400;
    /* mengatur ketebalan huruf */
    transition: .0s;
}

.navigation a:hover {
accent-color:0;
}

.home {
    position: absolute;
    width: 100%; /* Mengatur tinggi gambar */
    height: 115vh; /* Mengatur lebar gambar */
    background: url('ang.jpg'); /* Menambahkan gambar background */
    background-size: cover; /* Mengatur size gambar */
    background-position: center; /* Mengatur posisi gambar */
    display: flex; /* Mengatur letak  */
   
    padding: 50px 100px ; padding-top: 20%;
}

.content {
    max-width: 500px;
    color: #030303;
    
}

/* Mengatur ukuran heading 2 yang sudah didefiniskasn di HTML */
.content h2 {
    font-size: 48px;
}
.content h2 span{
    color: rgba(12, 36, 56, 0.76);
}

.content h4 {
    font-size: 34px;
    /* Mengatur ukuran huruf h4 yang telah didefinisikan di HTML agar ukurannya lebih besar */
}

.content p {
    padding: 0px 0px 0px 0px;
    /* Mengatur batas atas, bawah, kiri dan kanan */
}
